body{
    user-select: none;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 10px;
    color: #29629c;
}
div{
    display: flex;
    width: 95%;
    margin:40px auto;
    justify-content: space-between;
    align-items: baseline;
}
div form{
    width: 350px;
    box-shadow: 0px 0px 4px -1px #cdcdcd;
    padding: 20px;
    border-radius: 5px;
}
label{
    font-size: large;
}
input,select{
    border: 0;
    box-shadow: 0px 0px 3px -1px #29629c;
    width: calc(100% - 20px);
    padding: 8px;
    outline: none;
    border-radius: 3px;
    margin: 5px 0 15px;
}
select{
    width: calc(100% - 5px);
}

input[type="submit" i]{
    width: calc(100% - 5px);
    border-radius: 15px;
    background: #29629c;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: large;
    border: 0;
    outline: 0;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table tr:nth-child(even) {
    background-color: #8caacf;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0468aa;
    color: white;
    text-align: center;
  }